@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');


body{
  background: #343333;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

.container-lg{
  width: 750px;
  margin: 0 auto;
}

a, a:hover, a:active, a:visited{
  color: #FE2E64;
  text-decoration: none;
}

h1{

}
